FORMAT: 1A
HOST: http://renegade.app/api/

# Renegade

Renegade is unit management software that allows gaming organizations to manage their units organization, ranks, user management, applications, and many more.

##  Rank Collection [/ranks]

### List All Ranks [GET]

+ Response 200 (application/json)

        [
            {
                "name": "Private",
                "teamspeak_id": 5,
                "next_rank_id": 2,
                "next_rank_id": 1,
                "created_at": "2015-08-05T08:40:51.620Z",
                "updated_at": "2015-08-05T08:40:51.620Z"
                ]
            }
        ]

### Create a New Rank [POST]

You may create your own rank using this action. It takes a JSON
object containing a rank.

+ Request (application/json)

    + Attributes

        + name: Private First Class (required)
        + teamspeak_id: 1 (number)
        + next_rank_id: 1 (number)
        + order: 1 (number)

+ Response 201 (application/json)

    + Headers

            Location: /ranks

    + Body

            {
                "id": 2
                "name": "Private First Class",
                "teamspeak_id": 1,
                "next_rank_id": 1,
                "order": 1,
                "created_at": "2015-08-05T08:40:51.620Z",
                "updated_at": "2015-08-05T08:40:51.620Z"
                ]
            }
## Rank [/ranks/{id}]
This resource represents one particular rank identified by its *id*.  
### Get a Rank [GET]

+ Response 200 (application/json)

        [
            {
                "name": "Private",
                "teamspeak_id": 5,
                "next_rank_id": 2,
                "next_rank_id": 1,
                "created_at": "2015-08-05T08:40:51.620Z",
                "updated_at": "2015-08-05T08:40:51.620Z"
                ]
            }
        ]
        
### Update a Rank [PUT]


+ Request (application/json)

    + Attributes

        + name: Updated Private First Class (string)
        + teamspeak_id: 1 (number)
        + next_rank_id: 1 (number)
        + order: 1 (number)

+ Response 200 (application/json)


### Delete a Rank [DELETE]

+ Response 200 (application/json)


##  User API [/user]
### List All Users [GET]

+ Response 200 (application/json)

        [
            {

            }
        ]
##  Message API [/message] 
### List All Messages [GET]

+ Response 200 (application/json)

        [
            {

            }
        ]